{
    "trailingComma": "es5",
    "tabWidth": 4,
    "printWidth": 120,
    "proseWrap": "always",
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "bracketSpacing": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^[./]"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
